<div>
    <form class="form">
        <div>
            <h1>Edit Post</h1>
        </div>
        <div class="form-group">
            Title: <input class="form-control" type="text" placeholder="{{post.title}}" name="post-title">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="post-body">Example textarea</label>
                <textarea class="form-control" id="post-body" rows="3" placeholder="{{post.content}}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Edit it!
            </button>
        </div>
    </form>
    <div>
        <button class="btn btn-primary" type="submit" id="delete-btn">
            Delete it!
        </button>
    </div>
</div>
<script src="./js/edit.js"></script>