<div>
    <form class="form" id="edit-post-form">
        <div>
            <h1>Edit Post</h1>
        </div>
        <div class="form-group">
            Title: <input class="form-control" type="text" value="{{post.title}}" id="post-title">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="post-body">Post:</label><br>
                <textarea class="form-control" id="post-body" rows="25" style="width: 100%">{{post.content}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                Edit it!
            </button>
        </div>
        <input type="hidden" id="post-id" value="{{post.id}}">
    </form>
    <div>
        <button class="btn btn-primary" type="submit" id="delete-btn">
            Delete it!
        </button>
    </div>
</div>
<script src="../../js/edit.js"></script>